* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.body1 {
  background-color: #07051f;
}

.container {
  margin: 12%;
  width: 90%;
  height: 390px;
  max-width: 800px;
}
.dispaly {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #ffffff;
  color: #10dd668f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}
.container h1 {
  font-weight: 500;
  font-size: 45px;
}
span {
  color: #019f55;
  border-bottom: 4px solid #9f4801;
  padding-bottom: 7px;
}
.dispaly img {
  width: 30px;
  cursor: pointer;
}
.dispaly input {
  border: 0;
  outline: 0;
  font-size: 24px;
  background: #fffff9;
}

.container button img {
  width: 28px;
  margin-right: 10px;
}
.container button {
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;

  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}
button :hover {
  background-color: #9f4801;
}
